{
    "http": {
        "port": 10001
    },
    "db": {
        "host": "localhost",
        "port": 3307,
        "user": "root",
        "password": "123",
        "database": "dbtest",
        "max_conn": 2,
        "max_idle": 2,
        "life_time": 3600
    }
}