{
    "http": {
        "port": 10001
    },
    "db": {
        "source": "root:123@tcp(localhost:3306)/dbtest",
        "max_conn": 2,
        "max_idle": 2,
        "life_time": 3600
    }
}